:root.theme-light {
  --color-bg: #fff1f7;
  --color-text: #353430;
  --h3-color: #353430;
  --color-bg-secondary: #ff8dcb;
  --color-border-hover: #32312d66;
  --bg-image: url(../images/cover-image-light.png);
  --h1-color: #ffc2e6;
  --color-decor: #000028;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-bg: #fff1f7;
    --color-text: #353430;
    --h3-color: #353430;
    --color-bg-secondary: #ff8dcb;
    --color-border-hover: #32312d66;
    --bg-image: url(../images/cover-image-light.png);
    --h1-color: #ffc2e6;
    --color-decor: #000028;
  }
  .rec-container {
    display: none;
  }
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .rec-container {
  display: none;
}
