/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --font-size-base: 18px;
  --line-height-base: 130%;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --padding-small: 10px;
  --padding-medium: 20px;
  --padding-large: 30px;
  --gap-large: 30px;
  --gap-small: 10px;

  --color-bg: #000028;
  --color-text: #f1b2ce;
  --h1-color: #db00ff;
  --color-bg-secondary: #ff0070;
  --color-decor: #ff0070;
  --color-border-hover: #ff007040;
  --bg-image: url(../images/cover-image-dark.png);
}
.rec-container {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  align-items: center;
  gap: 9px;
  position: absolute;
  right: 20px;
  top: 10px;
}

.rec-container::before {
  content: "Rec";
  text-transform: uppercase;
  font-family: var(--font-family);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  color: var(--color-bg-secondary);
}

.rec-container::after {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--color-bg-secondary);
  box-shadow: 0px 0px 4px 2px var(--color-bg-secondary);
}

h2 {
  color: var(--color-bg-secondary);
}

h3,
h4 {
  color: var(--color-bg);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--color-decor);
  pointer-events: none;
}

.header__theme-menu-button_type_light {
  border: 1px solid var(--color-decor) transparent;
}

@media (width >= 768px) {
  .rec-container {
    right: 30px;
    top: 20px;
  }
}
